/* RESPONSIVE CSS */


/* Custom, iPhone Retina */ 
@media (min-width : 320px) {
	#header {
		width: 100%;
		height: 60px;
		background: #fff;
		padding: 10px 0px;
		position: fixed;
		z-index: 999;
		box-shadow: 1px 1px 5px #c4cacd;
	}
	.logo{
		    margin-left: 20px;
	}
	/*----- MOBILE MENU ----------*/
	.mobile-menu{
		float: right;
		margin: 20px;
		
	}
	.toggle-open{
		  opacity: 1; 
		  transition: 0.2s ease;
		  display: block !important;
	}
	
	.menu{
		display: none;
		width: 100%;
		position: fixed;
		background-color: #fff;
	}
	.dropdown-menu{
		position: relative;
		margin-top: 20px;
	
	}
	.dropdown-menu li{
		box-shadow: none;
	}
	.dropdown-menu li a{
		color: #004f6c;
	}
	.menu-ul{
		margin: 20px 0px;
		box-shadow: 1px 1px 5px #c4cacd;
		background: #edf6f7;
	}
	.menu-ul li{
		display: block;
	}

	.intro,
	.inner-content{
		width: 90%;
	}
	.main-content{
		top: 80px;
    	position: relative;
	}
	/*--- IMAGE SLIDER  -----------------*/
	.main-top-contents{
		top: 80px;
		position: relative;
	}
	.slideshow-btn{
		position: absolute;
		font-size: 1.5em;
		color: #c2c2c2;
		
	}
	.slideshow-btn:hover{
		color: #000;
		background: aliceblue;
		opacity: .6;
		transition: background .5s ease-in,
					color .5s ease-in;
	}
	.next{
		right: 0;
	}
	/* FOOTER ---------------------------*/
	.footer-content{
		display: block;
	}
	.footer-content-left,
	.footer-content-right{
		width: 100%;
		float: none;
		overflow: hidden;
	}
	.footer-content-right{
		border-top: 1px solid #bed5d6;
   		width: 85%;
	}
	.footer-list {
		margin: 50px 0px;
	}
	.footer-location{
		flex-basis: 25%;
	}
	.footer-location img{
		width: 100%;
		height: auto;
	}
	.footer-location h3{
		font-size: 80%;
	}
	.footer-h2{
		font-size: 100%;
	}
	.social-media{
		width: 40%;
	}
	.rated-by{
		width: 50%;
		position: inherit;
	}
	.social-media,
	.rated-by{
		margin: 0px;
		overflow: hidden;
		padding: 50px 0px 0px;
	}
	.rated-by > .img1{
		width: 35%;
		height: auto;
	}
	.rated-by > .img2{
		width: 25%;
		height: auto;
	}
	/* ABOUT US ---------------------------*/
	.heartbeat-img li {
    width: 40%;
    }
	.mv-img img {
    	width: 90%;
	}
	/* CONTACT ---------------------------*/
	.contact
	{
		text-align: center;
	}
	.contact-form{
		width: 100%;
		margin: 30px 0px;
		padding: 0px;
		overflow: hidden;
		
	}
	.contact-img{
		display: none;
	}
	
	/* DOG TRAINING ---------------------------*/
	.training-menu-li {
    	width: 80%;
	}
	.training-img img {
		width: 100%;
	}
	/* SPRAY & NEUTER ---------------------------*/
	.vet-info{
		text-align: center;
	}
	.vet-service{
		width: 90%;
	}
	.vet-img{
		margin: 0px;
	}
	.vet-img img {
        position: relative;
        top: 10px;
	}
	
	/* ADOPTION ---------------------------*/
	.adoption-search-section {
    	width: 80%;
	}
	.inner-content-section {
    	width: 80%;
	}
	
	.adoption-search-form ul{
		text-align: center;
	}
	.adoption-search-form li {
		margin: 10px auto;
		display: block;
		width: 80%;
	}
	
	/* HOME PAGE ---------------------------*/
	.left-info {
    width: 100%;
    float: none;
	}
	.right-info {
    width: 100%;
    height: auto;
	float: none;
	}
	.main-adoptable-pet{
		width: 100%;
	}
	.main-adoptable-pet-item {
		width: 60%;
	}
	.adoptable-pet-btn {
		width: 50%;
	}
    .adoptable-pet {
        margin-top: 100px;
    }
}
/* Extra Small Devices, Phones */ 
@media (min-width : 480px) {
	
	/* CONTACT ---------------------------*/
	.contact-form{
		width: 90%;
		margin: 30px 0px;
		padding: 0px;
		overflow: hidden;
		
	}
	
	/* DOG TRAINING ---------------------------*/
	.training-img img {
		width: 300px;
	}
	
	/* SPRAY & NEUTER ---------------------------*/
	.process-list li {
		text-align: justify;
	}
    
    /* ADOPTION ------------------------------- */
    .adoptable-pet-item {
    width: 35%;
    }
    .pet-info p {
        font-size: 65%;
    }
    
	/* HOME PAGE ---------------------------*/
	.left-info {
    width: 100%;
    float: none;
	}
	.right-info {
    width: 100%;
    height: auto;
	float: none;
	}
	.adoptable-pet h1 {
		font-size: 1em;
	}
	.main-adoptable-pet-item {
		width: 20%;
	}
	.footer-list{
		border-right: 0;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#header {
		width: 90%;
		position: relative;
		height: 70px;
    	margin: 0 auto;
		padding: 20px 0px;    
		box-shadow: none;
	}
	/*--- IMAGE SLIDER  -----------------*/
	.main-top-contents{
		top: 0;
	}
	.m-menu-icon{
			display: none;
		}	
	.menu-ul li{
		display: inline-block;
		padding: 30px 0px 15px 35px;		
	}	
	.menu-ul li a{
		font-size: 0.8em;
	}
	.menu{
		position: relative;
		float: right;
		opacity: 1;
		width: auto;
		display: inline-block;
	}
	.menu .menu-ul{
		overflow: hidden;
	}

	.intro,
	.inner-content{
		width: 80%;
	}
	.dropdown-menu{
		box-shadow: 0px 1px 1px #cbd9dc;
		margin-top: 15px;
		display: none;
		position: absolute;
		z-index: 1;
		height: auto;
		background: #edf6f7;
		width: 35%;
	}
	.dropdown-menu li {
    	display: block;
    	padding: 10px !important;
	}
	.menu-ul li:hover .dropdown-menu li{
		/* text-align: center; */
	}

	.menu-ul{
		margin: 0px;
		box-shadow: none;
		background-color: #fff;
	}
	/*---MOBILE MENU  -----------------*/
	.mobile-menu{
		display: none;
	}
	.main-content{
		top: 0;
	}
	.slideshow-btn{
		position: relative;
		font-size: 2em;
		/* background: #edf6f7;
		opacity: 0.5; */
	}
	.prev{
		left: 75px;
	}
	.next{
		right: 75px;
	}
	.main-adoptable-pet{
		width: 80%;
	}
	.adoptable-pet-btn {
		width: 25%;
	}

	/* ABOUT US ---------------------------*/
	
	/* DOG TRAINING ---------------------------*/
	.training-menu-li {
    	width: 29%;
	}	
	
	/* SPRAY & NEUTER ---------------------------*/
	.vet-info{
		text-align: inherit;
	}
	.vet-service{
		width: 50%;
	}
	.vet-img{
		margin: 0px;
	}
	.vet-img img {    
    margin: 0px;
    position: relative;
    top: 10px;
    left: 20px;
	}
	/* ADOPTION ---------------------------*/

	.adoption-search-form li {
		margin-right: 20px;
		display: inline-block;
		width: 20%;
	}
	
	.adoption-search-form li:last-child{
		margin-right: 0px;
	}
    .adoptable-pet-item {
    	width: 40%;
    }
	.pet-info p {
        font-size: 75%;
	}
	
	
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#header {
		width: 85%;
	}
	.logo img {
		width: 150px;
	}
	.menu-ul li{
		padding: 30px 15px 15px 45px;		
	}	

	.main-more-info{
		display: flex;
	}

	.dropdown-menu{
		width: 25%;
	}
	
	/* FOOTER -------------------------*/
	.footer-content{
		display: flex;
		-webkit-display: flex;
	}
	.footer-content-left{
		-webkit-flex-basis: 60%;
	}
	.footer-content-right{
		border-top: none;
		-webkit-flex-basis: 40%;
	}

	.footer-location img{
		width: 100%;
	}
	.footer-h2{
		font-size: 110%;
	}

	
	/* ABOUT US ---------------------------*/
	.heartbeat-img li {
   		 width: 21%;
    }
	.mv-img img {
    	width: 500px;
	}
	/* CONTACT ---------------------------*/
	.contact{
		text-align: left;
		display: inline-block;
    	width: 50%;
	}
	.contact-form{
		width: 100%;
		margin: 50px 0px;	
	}
	.contact-img{
		display: inline-block;
	}
	.contact-img img {
    width: 90%;
	}
	.contact-form input,
	.contact-form textarea{
		width: 95%;
	}
	.contact-submit{
		width: 130px !important;
	}
	
	/* DOG TRAINING ---------------------------*/
	.training-menu-li {
    	width: 30%;
	}
	/* SPRAY & NEUTER ---------------------------*/
	
	.vet-img img {
    	    margin: 0px 0px 0px 20px;
	}
	/* ADOPTION ---------------------------*/
	.adoption-search-section {
    	width: 80%;
	}
	.inner-content-section {
    	width: 80%;
	}
		.adoption-search-form li {
		width: 17%;
	}

	/* HOME PAGE ---------------------------*/
	.left-info {
		flex-basis: 50%;
		height: 550px;
		float: left;
	}
	.right-info {
		flex-basis: 50%;
		height: 550px;
		float: right;
	}
	.main-about-us{
		font-size: 82%;
	}
	.adoptable-pet h1 {
		font-size: 1.3em;
	}
	.main-adoptable-pet-item {
		width: 18%;
	}
	.footer-list{
		border-right: 1px solid #d1dfe0;
	}
	
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	#header {
		width: 80%;
	}
	.menu-ul li{
		padding: 30px 45px 15px 45px;		
	}	

	/* SPRAY & NEUTER ---------------------------*/
	
	.vet-img img {
    	    margin: 0px 0px 0px 50px;
	}
		/* ADOPTION ---------------------------*/
	.adoption-search-form li {
		margin-right: 50px;
		display: inline-block;
	}
	.adoptable-pet-item {
		width: 20%;
	}
	
	/* HOME PAGE ---------------------------*/
	
	.main-about-us{
		font-size: 100%;
	}
}


